<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home | Welcome</title>
  </head>
  <body>
    <div>
      <h1>Welcome, {{user.username}}!</h1>
      <a href="">Logout</a>
    </div>
    <div id="container">
        <h2 >Your Trip Schedules</h2>
        <table>
      <tr>
        <th>Destination</th>
        <th>Travel Start Date</th>
        <th>Travel End Date</th>
        <th>Plan</th>
      </tr>
      {% for trip in sched_trips %}
          <tr>
            <td><a href="{% url 'travels:destination' trip.id %}"></a></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
      {% endfor %}
    </table>
    <h2>Other Other User's Travel Plans</h2>
      <table>
        <tr>
          <th>Name</th>
          <th>Destination</th>
          <th>Travel Start Date</th>
          <th>Travel End Date</th>
          <th>Do You Want to Join</th>
        </tr>
        {% for trip in trips %}
          <tr>
            <td></td>
            <td><a href=></a></td>
            <td>{{trip.travel_date_from|date:"m/d/Y"}}</td>
            <td>{{trip.travel_date_to|date:"m/d/Y"}}</td>
            <td><a href="{% url 'travels:join' trip.id %}">Join</a></td>
          </tr>
        {% endfor %}
      </table>
      <h3><a href="{% url 'trip_add' %}">Add Travel Plan</a></h3>
    </div>
  </body>
</html>
